div.a1
{
float: right;
height: 600px;					
width: 1002px;
background-image: url('contact.jpg');
background-size:100%;
position:relative;

}

div.transbox
{
  width: 590px;
  height: 597px;
  background-color: rgba(76,51,26,0.6);
  border: 3px solid black;
  float:left;
  position:relative;
}
div.transbox pre
{
  font-weight: bold;
  color: #ffffff;
  font-family:Arial;
  font-size:16px;
}
#close
{
  position:relative;
  float:right;
  cursor:pointer;
}

#drop3
{
  position:relative;
  left:7px;
}
#googleMap
{
 position:relative;
 bottom:135px;
 float:right;
}